<?xml version="1.0" encoding="UTF-8"?>
<config>
	<nav>
		<home>
			<label>Home</label>
			<controller>index</controller>
			<action>index</action>
		</home>
		<about>
			<label>About</label>
			<controller>index</controller>
			<action>about</action>
		</about>
		<contact>
			<label>Contact</label>
			<controller>index</controller>
			<action>contact</action>
		</contact>
		<twiliocall>
			<label>Twilio call demo</label>
			<controller>demo</controller>
			<action>index</action>
		</twiliocall>
		<twiliosms>
			<label>Twilio send SMS</label>
			<controller>sms</controller>
			<action>index</action>
		</twiliosms>
		<twiliorecord>
			<label>Twilio record message</label>
			<controller>record</controller>
			<action>index</action>
		</twiliorecord>



	</nav>
</config>
